<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visual Studio Saturday 2019 Pordenone</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/vssatpn19.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Visual Studio Saturday 2019</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Speaker</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center d-flex" style="color:#0094FF">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="mb-5" style="margin-top:20em">
                        L'evento che ti permette di approfondire Visual Studio, .NET Core e dintorni!
                    </p>
                    @*<h1>Abbiamo l'Agenda!</h1>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://vssatpn19.eventbrite.it/" target="_blank">Registrati</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#agenda" target="_blank">Agenda</a>*@
                    <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://sessionize.com/vssatpn19" target="_blank">Call
                              for paper</a> -->
                </div>
            </div>
        </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container" style="color:white;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-heading text-white text-center">Di cosa parleremo?</h2>
                    <hr class="light my-4 text-center">
                    <p class="text-shadows mb-4">
                        Facciamo il punto su tutto quello che è successo in Visual Studio e .NET in un anno.
                    </p>
                    <p>
                        Non abbiamo ancora l'agenda ma la pubblicheremo a breve, sapete che con xe.net e 1nn0va avrete un evento di qualità!
                    </p>
                    <p>
                        La call for paper è aperta: se vuoi partecipare come speaker, puoi proporre la tua sessione
                        <a href="https://sessionize.com/vssatpn19" target="_blank">qui</a>.
                    </p>
                    <p>
                        Ovviamente grazie ai nostri sponsor, senza i quali non potremmo organizzare questi eventi, e non potremmo offrirvi la nostra immancabile pizza kebab della pizzeria
                        <a href="https://www.facebook.com/PitStopPizzaPN/" target="_blank">PitStop</a> e il caffé di
                        <a href="https://www.dapdistributori.it/" target="_blank">DAP</a>. In ordine strettamente alfabetico:
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.altitudo.com/it/" target="_blank">Altitudo</a>
                        </li>
                        <li>
                            <a href="http://www.beantech.it" target="_blank">Beantech</a>
                        </li>
                        <li>
                            <a href="https://fluentis.com" target="_blank">Fluentis</a>
                        </li>
                        <li>
                            <a href="http://palazzetti.it" target="_blank">Palazzetti</a>
                        </li>
                        <li>
                            <span>...e come sempre, il <a href="https://www.unipordenone.it/" target="_blank">Consorzio Universitario di Pordenone</a></span>
                        </li>
                    </ul>
                    <p class="text-center">
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://vssatpn19.eventbrite.it/" target="_blank">Registrati</a>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://sessionize.com/vssatpn19" target="_blank">Call for paper</a>
                </div>
            </div>
            <div class="row">

            </div>
    </section>
    @*<section id="agenda">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a id="agenda"></a>
                        <h2 class="section-heading text-white">Agenda</h2></a>
                        <script type="text/javascript" src="https://sessionize.com/api/v2/rzw3kcmh/view/gridtable"></script>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

</body>

</html>
